.custom-input.icon-picker {
    display: inline-block;
    width: 100%;

    .content {
        background-color: var(--mantine-color-gray-light);
        width: 100%;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--mantine-color-gray-filled-hover);
        }
    }
}

.icon-picker-modal {
    .picker-tab-panel {
        .icon-list {
            max-height: 60vh;
            overflow-y: auto;
            .icon-item {
                box-sizing: border-box;
                background-color: var(--mantine-color-gray-light);
                transition: background-color 0.2s, border-color 0.2s;
                cursor: pointer;
                border: 2px solid #00000000;

                &:hover {
                    background-color: var(--mantine-color-gray-filled-hover);
                }

                &.selected {
                    border: 2px solid var(--mantine-primary-color-filled);

                    &:hover {
                        border-color: var(--mantine-primary-color-filled-hover);
                    }
                }

                .icon-name {
                    max-width: calc(100% - 16px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .controls {
            display: flex;
            vertical-align: bottom;
            .page-selector {
                flex-grow: 1;
                margin-top: auto;
                margin-bottom: 0px;
            }

            .page-size-selector {
                flex-grow: 1;
            }
        }
    }
}
