.app-root {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .app-header {
        .app-name {
            padding: 8px;
            user-select: none;
            pointer-events: none;
            .logo {
                width: 48px;
                height: 48px;
            }
        }   
    }

    .app-content {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}